<h1>{{titlePage}}</h1>
<h3>Author</h3>
<hr />

<form [formGroup]="authorForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="fullName">Full Name <span>*</span></label>
        <input type="text" class="form-control" formControlName="fullName">
        <span class="alert alert-danger" *ngIf="fullName.invalid && formDir.submitted">Please enter Full Name</span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="dateOfBirth">Date Of Birth <span>*</span></label>
        <input type="date" class="form-control" formControlName="dateOfBirth">
        <span class="alert alert-danger" *ngIf="dateOfBirth.invalid && formDir.submitted">Please enter number Date Of Birth</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="email">Email <span>*</span></label>
        <input type="email" class="form-control" formControlName="email" email="true">
        <span class="alert alert-danger" *ngIf="email.invalid && formDir.submitted">Please Enter Email</span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="cityOfOrigin">City Of Origin <span>*</span></label>
        <input type="text" class="form-control" formControlName="cityOfOrigin">
        <span class="alert alert-danger" *ngIf="cityOfOrigin.invalid && formDir.submitted">Please Enter City Of Origin</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <button class="btn btn-info" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">Save</button>
      </div>
    </div>
  </div>
</form>

